article {
    width: 30%;
    height: 731px;
    margin: 10px 0;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    border-radius: 21px;
    .recipe__img-container {
        width: 100%;
        height: 253px;
        overflow: hidden;
        .recipe__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .recipe__info {
        padding: 25px;
    }
}